<DOCTYPE! html>
<html style="height: 100%; width: 100%;padding: 0; margin: 0;">
  <body style="height: 100%; width: 100%;padding: 0; margin: 0;background-color:grey;">

    <div style="position:relative;color:red;margin:auto;width:800px;height:800px;border:2px solid yellow;">
    <h1 style="position:relative;color:red;text-align:center;margin-bottom:40px;margin-top:40px;background-color:white;">NBA Team Pay</h1>
    <form  style="margin:atuo;width:800px;height:800px;display: inline-block;text-align: center;" action="/form" method="post" >
        <input style="position:relative;margin:auto;" name="message">
        <input style="color:blue;position:relative;margin:auto" type="submit">
    </form>
  </div>
  <style>
div {
background-image:url("/images/Dunk-Basketball-Wallpaper.jpg");
background-size: 800px 800px;

}
</style>
  </body>
<html/>
